<div ng-controller="RatingController">
	<h6>Your rate</h6>
	<span uib-rating ng-model="rate" max="max" read-only="isReadonly"
		on-hover="hoveringOver(value)" on-leave="overStar = null"
		aria-labelledby="default-rating" state-on="'glyphicon-ok-sign yellow'" state-off="'glyphicon-ok-circle'"
		></span> <span class="label"
		ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
		ng-show="overStar && !isReadonly">{{percent/10}}</span>
</div>
